form{
    align-items: center;
    justify-content: center;
 
}
label { 
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
    margin-top: 12px;
    font-family:$main-font-face ;
    
    
}

input[type=text], input[type=email], input[type=tel], textarea {
    width: 50%;
    padding: 12px 24px;
    border: 0;
    border-bottom: 1px solid #040404;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
    align-items: center;
}


input[type=submit] {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;

  }
 


.wrapper {
    position: relative;
    margin-top: 35px;
    align-items: center;
    i { 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 60px;
        font-size: 1.5em;
        
    }
}

textarea { resize: none; display: block; }



.info.info-error {
    display: none;
}

.info.info-success {
    display: none;
}
.error {
    border-color: red !important;
}